/*.clearfix:before, .clearfix:after {
    content: "";
    display: block;*/
  /*border:solid 1px ;
} 
.clearfix:after {
    clear: both;
}


/* box model fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: white;
}
/* styles the logo and the navigation menu*/
#containertop {
  width: auto;
  margin: 10px;
  padding: 15px;


}




header {
  height: 110px;
  background: white;
  padding-top: 8px;
  padding-left: 90px;
  border-bottom: 1px black solid;
}

header nav {
	
    float:right;
 } 
header nav ul li {
  
  display: inline-block;
  margin: 0 0 0 20px;
  font-size: 15px;
  
}

header nav ul li a {
  
  color: black;
  font-size: 10px;
  text-decoration: none;
  
  margin-left: 5px;
}

 /*#top{
	height:100px;
	background: grey;
	text-align: center;
	padding: 1px;

	padding-bottom: 10px;
	padding-top: 10px;
} 

*/





/*#column1 {
	float: left;
	text-align: center;
	width: 50%;
	padding:10px;
	border-right: 1px solid;
	color:#B8B8B8 ;
}

#column2 {
	float: right;
	text-align: center;
	width: 50%;
	padding: 10px;
	color:#B8B8B8 ;
	
}*/

/*#column3 {
	float: left;
	text-align: justify;
	width: 32%;
	padding: 10px;
	color:#B8B8B8 ;
	
}
*/




footer {
	
	height: 80px;
	background-color: white;
	color: black;
	clear:left;
	
}

.thumbnail {
	width: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	 display:block;
     width:100%;
	 margin:0 auto;
     
     height:100%;
      
 }


/*ul {
	list-style-type: none;
}*/

li img {
float:left;
margin: 5px;
border: 2px solid white;
box-shadow: 5px 5px 5px #888888;
}




#icons {
	padding-left: 90px;
}

